// .main {
//   background-image: url('../../../assets/images/login/background.jpg');
//   background-size: cover;
// }

.brand-logo {
  margin-left: 30px;
  margin-top:4px;
  font-weight: lighter;
  img {
    height: 35px;
  }
}

.brand-title {
  color: azure;
  margin-left: 20px;
  margin-top:4px;
  font-weight: lighter;
  a {
    text-decoration: none;
    color: #fafafa;
    text-shadow: #2c2c2c 2px 2px;
  }
}

.mat-menu-item {
  width: 200px;
  mat-icon {
    color: #333e57;
  }
}

mat-sidenav-container {
  min-height: 90vh;
}

// navlist
mat-nav-list {
  padding-top: 0;
  width: 200px;

  a {
    span {
      margin: 0 5px;
    }
  }
}

.itemSelected, .mat-list-item:focus {
  // background-color: #8191b2;
  background-color: rgba(63, 81, 181, .15);
  // background-color: red;
  color: #3f51b5;
}

.itemSelected:hover {
  // background-color: #9292c9;
  background-color: rgba(63, 81, 181, .85);
  color: white;
}
