<div class="container" [class.main-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="mat-elevation-z6" color="primary" style="height: 56px;">
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="brand-title"><a routerLink="/">Angular</a></div>
      <span class="spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="profile">
        <mat-icon>apps</mat-icon>
      </button>
      <mat-menu #profile="matMenu" [overlapTrigger]="false">
        <!-- <button mat-menu-item (click)="logout()"> -->
        <button mat-menu-item>
          <mat-icon>power_settings_new</mat-icon>
          <span>{{'logout' | dict | titlecase}}</span>
        </button>
      </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container 
    calss="main-sidenav-container" >
    <mat-sidenav 
      #snav 
      [opened]="currentSideStatus" 
      [mode]="mobileQuery.matches ? 'over' : 'side'" 
      [fixedInViewport]="mobileQuery.matches">

      <mat-nav-list>
        <mat-list-item
            [routerLink]="['/base']"
            [routerLinkActive]="['itemSelected']">
          <a matLine>
            <span>+</span>
            {{ 'dashboard' | dict | titlecase }}
          </a>
        </mat-list-item>

        <mat-list-item
            [routerLink]="['/base/roles']"
            [routerLinkActive]="['itemSelected']">
          <a matLine> 
            <span> </span>
            {{ 'role' | dict | titlecase }}
          </a>
        </mat-list-item>

        <mat-list-item
            [routerLink]="['/cafe/orders']"
            [routerLinkActive]="['itemSelected']">
          <a matLine> 
            <span> </span>
            {{ 'orders' | dict | titlecase }}
          </a>
        </mat-list-item>

        <mat-list-item
            [routerLink]="['/cafe/foods']"
            [routerLinkActive]="['itemSelected']">
          <a matLine> 
            <span> </span>
            {{ 'foods' | dict | titlecase }}
          </a>
        </mat-list-item>

        <mat-list-item
            [routerLink]="['/cafe/orders/new']"
            [routerLinkActive]="['itemSelected']">
          <a matLine> 
            <span> </span>
            {{ 'new_order' | dict | titlecase }}
          </a>
        </mat-list-item>

        <mat-list-item
            [routerLink]="['/cafe/report/daily-order']"
            [routerLinkActive]="['itemSelected']">
          <a matLine> 
            <span> </span>
            {{ 'daily_order' | dict | titlecase }}
          </a>
        </mat-list-item>

        <mat-list-item
            [routerLink]="['/cafe/report/monthly-order']"
            [routerLinkActive]="['itemSelected']">
          <a matLine> 
            <span> </span>
            {{ 'monthly_order' | dict | titlecase }}
          </a>
        </mat-list-item>

        <mat-list-item
            [routerLink]="['/login']"
            [routerLinkActive]="['itemSelected']">
          <!-- <button mat-icon-button > -->
          <!--   <mat-icon>exit_to_app</mat-icon> -->
          <!-- </button> -->
          <a matLine> {{ 'logout' | dict | titlecase }}</a>
        </mat-list-item>
      </mat-nav-list>

    </mat-sidenav>
    <mat-sidenav-content>
      <!-- <app-loading></app-loading> -->
      <div class="main">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
