<!-- <button mat-button (click)="openDeleteDialog()"> ok </button> -->
<button *ngIf="!(customData.create === false)" mat-button (click)="openAddDialog()">{{ 'add' | dict | titlecase }}</button>

<div class="container">

  <table [ngClass]="{'loading': loadingStat, 'loaded': !loadingStat}">
    <colgroup>
      <col *ngFor="let c of cols" [width]="c.width" [maxWidth]="c.width">
    </colgroup>
    <tr>
      <th *ngFor="let k of cols">
        {{ k.title }}
      </th>
    </tr>
    <tr *ngFor="let r of rows">
      <td *ngFor="let c of cols" [style]="'max-width:'+c.width">
        {{ r[c.property] }} {{ c.value }}
        <span *ngIf="c.type === 'action'">
            <button 
              mat-icon-button
              (click)="openDeleteDialog(r,customData)" 
              *ngIf="c.default.delete === 'icon'" >
              <mat-icon>delete</mat-icon>
            </button>

            <button 
              mat-icon-button
              (click)="openEditDialog(r,customData)" 
              *ngIf="c.default.edit === 'icon'" >
              <mat-icon>edit</mat-icon>
            </button>

          <button mat-icon-button [matMenuTriggerFor]="menu">
            <i class="material-icons">arrow_drop_down</i>
          </button>
          <mat-menu #menu="matMenu">
            <button 
              (click)="openDeleteDialog(r,customData)" 
              *ngIf="c.default.delete === 'menu'" 
              mat-menu-item>
              <mat-icon>delete</mat-icon>
              <span>delete</span>
            </button>

            <button 
              (click)="openEditDialog(r,customData)" 
              *ngIf="c.default.update" 
              mat-menu-item>
              <mat-icon>edit</mat-icon>
              <span>edit</span>
            </button>

            <button
              mat-menu-item 
              *ngFor="let b of c.buttons" 
              (click)="b.fn(r);"> 
              <mat-icon>{{ b.icon }}</mat-icon>
              <span>{{ b.name }}</span>
            </button> 
          </mat-menu>


          <!-- <button -->  
          <!--   mat-icon-button --> 
          <!--   [matMenuTriggerFor]="menu" --> 
          <!--   aria-label="Example icon-button with a menu"> -->
          <!--   <i class="material-icons">more_vert</i> -->
          <!-- </button> -->
          <!-- <mat-menu #menu="matMenu"> -->

          <!-- </mat-menu> -->
        </span>
      </td>
    </tr>
  </table>
  <mat-paginator #paginator
    showFirstLastButtons
    [length]="length"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="pageEvent = changePage($event)">
  </mat-paginator>

</div>
