<p>custom-table works!</p>

<!-- <button mat-button (click)="openDeleteDialog()"> ok </button> -->


<div class="container">

  <p> ok </p>

  <table border="1" cellspacing="0">
    <colgroup>
      <col *ngFor="let c of cols" [maxWidth]="c.width">
    </colgroup>
    <tr>
      <th *ngFor="let k of cols">
        {{ k.title }}
      </th>
    </tr>
    <tr *ngFor="let r of rows">
      <td *ngFor="let c of cols" [style]="'max-width:'+c.width">
        {{ r[c.property] }} {{ c.value }}
        <span *ngIf="c.type === 'action'">

          <button mat-icon-button [matMenuTriggerFor]="menu">
            <i class="material-icons">more_vert</i>
          </button>
          <mat-menu #menu="matMenu">
            <button 
              (click)="openDeleteDialog(r,customData)" 
              *ngIf="c.default.delete" 
              mat-menu-item>
              <mat-icon>delete</mat-icon>
              <span>delete</span>
            </button>
            <button
              mat-menu-item 
              *ngFor="let b of c.buttons" 
              (click)="b.fn(r);"> 
              <mat-icon>delete</mat-icon>
              <span>{{ b.name }}</span>
            </button> 
          </mat-menu>


          <!-- <button -->  
          <!--   mat-icon-button --> 
          <!--   [matMenuTriggerFor]="menu" --> 
          <!--   aria-label="Example icon-button with a menu"> -->
          <!--   <i class="material-icons">more_vert</i> -->
          <!-- </button> -->
          <!-- <mat-menu #menu="matMenu"> -->

          <!-- </mat-menu> -->
        </span>
      </td>
    </tr>
  </table>

</div>

<pre>
  {{ customData | json }}
  {{ rows | json }}
</pre>
