.container {
  height: 100vh;
  background-image: url('../../../../assets/images/login/background.jpg');
  background-size: cover;
  display: grid;
  justify-content: center;
  align-content: center;
}
