.container {
  height: 100vh;
  background-image: url('../../../../assets/images/login/background.jpg');
  background-size: cover;
  display: grid;
  justify-content: center;
  align-content: center;

  mat-card {
    width: 300px;

    mat-form-field {
      width: 100%;
    }

    button {
      width: 100%;
    }

    mat-error {
      font-size: .9rem;
    }

    mat-expansion-panel {
      margin-bottom: 10px;
    }
  }
}


