<div class="container">
  <h3> {{ 'monthly_report' | dict | titlecase }} </h3>
  <div class="report">
    <table border="1" cellspacing="0">
      <tr>
        <th> {{ 'row' | dict | titlecase }} </th>
        <th> {{ 'month' | dict | titlecase }} </th>
        <th> {{ 'sold' | dict | titlecase }} </th>
        <th> {{ 'discount' | dict | titlecase }} </th>
        <th> {{ 'net_sold' | dict | titlecase }} </th>
      </tr>

      <tr *ngFor="let month of list;let i = index">
        <td> {{ i + 1 }} </td>
        <td> {{ month.month }} </td>
        <td> {{ month.total | number }} </td>
        <td> {{ month.discount | number }} </td>
        <td> {{ month.sub_total | number }} </td>
      </tr>

      <!-- <tr> -->
      <!--   <th colspan="6"> {{ 'grand_total' | dict | titlecase }} </th> -->
      <!--   <th> {{ grandTotal | number }}</th> -->
      <!--   <th> {{ discountTotal | number }}</th> -->
      <!--   <th> {{ netTotal | number }}</th> -->
      <!-- </tr> -->
    </table>

  </div>
</div>
