.container {
  max-height: 85vh;

  .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-gap: 10px;

    mat-form-field {
      width: 100%;
    }
  }

  .action {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    margin-top: 15px;
  }
}

