<div class="container">
  <div class="header">
    <p>{{ data.title | dict | titlecase }}</p>
  </div>

  <form [formGroup]="dialogForm" (ngSubmit)="submit()">
    <div class="content">
      <div *ngFor="let row of rows">
        <container-element [ngSwitch]="row.type">
          <some-element *ngSwitchCase="'text'">
            <mat-form-field *ngIf="row[dialogType] !== false">
              <input 
                type="text"
                matInput
                [required]="row.required"
                [placeholder]="row.title"
                [formControlName]="row.property">
              <mat-error>
                {{ errorList[row.property] }}
              </mat-error>
            </mat-form-field>
          </some-element>
          <some-element *ngSwitchCase="'number'">
              <input 
                type="number"
                matInput
                [required]="row.required"
                [placeholder]="row.title"
                [formControlName]="row.property">
              <mat-error>
                {{ errorList[row.property] }}
              </mat-error>
          </some-element>
          <some-element *ngSwitchCase="'action'">
          </some-element>
          <some-element *ngSwitchDefault>
            undefined: {{ row | json }}
          </some-element>
        </container-element>
      </div>
    </div>

    <mat-expansion-panel 
      *ngIf="formError"
      hideToggle>
      <mat-expansion-panel-header>
        <mat-error>
          {{ formError.title | titlecase }}
        </mat-error>
      </mat-expansion-panel-header>
      <p>{{ 'code' | dict | titlecase}}: #{{ formError.code }}</p>
      <p>
        <a href="{{ formError.type }}" target="_blank">
          {{ formError.message | titlecase }}
        </a>
      </p>
    </mat-expansion-panel>

    <div class="action">
      <button mat-button type="button" (click)="close()" >{{ 'close' | dict | titlecase }}</button>
      <div></div>
      <button mat-button color="primary">{{ 'submit' | dict | titlecase }} </button>
    </div>
  </form>
</div>
