<div class="container"> 
  <form [formGroup]="orderForm" (ngSubmit)="submit()">
    <div class="invoice">
      <button mat-button type="button" [routerLink]="['/base']"> Home </button>
      <div class="header">
        <mat-form-field>
          <input 
            type="text" 
            matInput 
            placeholder="{{'customer' | dict | titlecase }}"
            formControlName="customer" />
        </mat-form-field>
        <mat-form-field>
          <input 
            type="text" 
            matInput 
            placeholder="{{'table' | dict | titlecase }}"
            formControlName="table" />
        </mat-form-field>
        <mat-form-field>
          <input 
            type="text" 
            matInput 
            placeholder="{{'phone' | dict | titlecase }}"
            formControlName="phone" />
        </mat-form-field>
        <mat-form-field>
          <input 
            type="number" 
            matInput 
            placeholder="{{'discount' | dict | titlecase }}"
            formControlName="discount" />
        </mat-form-field>
        <mat-form-field>
          <input 
            type="text" 
            matInput 
            placeholder="{{'description' | dict | titlecase }}"
            formControlName="description" />
        </mat-form-field>
      </div>
      <div class="foods"  formArrayName="foods">
        <div class="foodBtn" *ngFor="let f of orderForm.value.foods; let i = index; trackBy: trackByFn">
          <ng-container [formGroupName]="i">
            <div class="foodBox {{f.color}}" matRipple (click)="addQty(i,1)">
              <p class="center">{{ f.name }} </p>
              <p class="center"> {{ f.price | number }}</p>
            </div>
            <div class="foodFooter">
              <button (click)="addQty(i,-1)" type="button" mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                <mat-icon>remove</mat-icon>
              </button>
              <mat-form-field>
                <input 
                  type="number"
                  (change)="addQty(i,0)"
                  matInput
                  formControlName="qty">
              </mat-form-field>
              <button (click)="addQty(i,1)" type="button" mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </ng-container>
        </div>
      </div>


    </div>

    <div class="summary">
      <div class="grand-total">
        <p>
          {{ 'iraqi_dinar' | dict | titlecase }}
        </p>

        <p class="total">
          {{ grandTotal - orderForm.value.discount | number }}
        </p>

      </div>
      <button class="submit" mat-raised-button color="primary" type="submit"> 
        {{ 'print' | dict | titlecase }} 
      </button>

      <div class="food-list">
        <table border="1" cellspacing="0">
          <tr>
            <th> {{ 'food' | dict | titlecase }} </th>
            <th> {{ 'price' | dict | titlecase }} </th>
            <th> {{ 'qty' | dict | titlecase }} </th>
            <th> {{ 'total' | dict | titlecase }} </th>
          </tr>
          <tr *ngFor="let f of summaryList">
            <td> {{ f.name }} </td>
            <td> {{ f.price | number }} </td>
            <td> {{ f.qty }} </td>
            <td class="rightAlign"> {{ f.price * f.qty | number }} </td>
          </tr>
          <tr>
            <th colspan="3">
              {{ 'grand_total' | dict | titlecase }}
            </th>
            <th class="rightAlign">
              {{ grandTotal | number }}
            </th>
          </tr>
        </table>

      </div>

    </div>

  </form>
</div>
