.container {
  display: grid;
  grid-template-columns: auto 300px;
  grid-gap: 10px;

  .foods {
    background: yellow;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-gap: 5px;

    .foodBtn {
      width: 150px;
      border: 1px solid gray;
      div > p {
        text-align: center;
      }

      .foodFooter {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr auto 1fr;

        mat-form-field {
          width: 50px;
        }
      }
    }
  }

  .summary {
    background: #EEE;
  }
}



