.container {
  padding-left: 7px;

  form {
    display: grid;
    grid-template-columns: auto 300px;
    grid-gap: 10px;

    .foods {
      background: #d9f6ff;
      display: grid;
      grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
      grid-gap: 20px;

    }
  }// end of form

  .summary {
    padding-top: 15px;
    background: #EEE;
  }
}

.header {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  grid-gap: 10px;
}

.foodBtn {
  width: 150px;
  border: 1px solid red;
  user-select: none;
}

.foodFooter {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;

  mat-form-field {
    max-width: 50px;
    input {
      text-align: center;
    }
  }
}

.center {
  text-align: center;
}

.submit {
  width: 100%;
}

.grand-total {
  width: 100%;
  margin-bottom: 10px;
  padding-top: 15px;
  background-color: green;
  color: white;
  height: 80px;
  display: grid;
  justify-content: center;

  p {
    text-align: center;
  }

  .total {
    font-size: 2.5rem;
  }
}

.food-list{
  
  table {
    width: 100%;
    margin-top: 15px;
  }
}

.rightAlign {
  text-align: right;
}
